<h2>Map for the Places in this Story</h2>

<!--style to fix google map zoom display-->
<style>
	.gm-style img { max-width: none; }
	.gm-style label { width: auto; display: inline; }
</style>

<div class="map_container" style='width: 800px;'>
  <div id="map_canvas" class="map_canvas" ></div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
						provider: { maxZoom: 15 },
						internal: {id: 'map_canvas'}
					},
					function(){
						markers = handler.addMarkers(<%=raw @hash.to_json %>);
						handler.bounds.extendWith(markers);
						handler.fitMapToBounds();
					});
</script>