<!--style to fix google map zoom display-->
<style>
	.gm-style img { max-width: none; }
	.gm-style label { width: auto; display: inline; }
</style>

<script type="text/javascript" id="favorite_places_json">
  <%= raw @favorite_places_json %>
</script>

<div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
  <div class="container left-margin-zero-sap">
    <div class="row" style="padding-top: 5px">

      <form action="javascript:void(0)" method="GET" class="form-inline map_search_form" data-user-id="1">
        <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-3" style="display: inline; padding: 2px 0 3px 0">
          <input type="text" name="search" class="form-control" placeholder="Enter Location" autofocus />
          <div style="font-size: .8em">&nbsp;&nbsp;<%= link_to "or See Places Nearby You", my_places_path %></div>
        </div>
        <button type="submit" class="btn btn-info btn-sm" style="margin-top: 5px">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </form>

    </div>
  </div>
</div>


<div class="col-md-12">
  <div id="search_map_canvas" style='width: 100%; height: 800px;'></div>
</div>
