<!--style to fix google map zoom display-->
<style>
	.gm-style img { max-width: none; }
	.gm-style label { width: auto; display: inline; }
</style>

<div class="panel top-margin-sap right-padding-zero-sap" >
  <strong>My Places Nearby</strong> &nbsp;&nbsp;
	<%= link_to 'All Places Nearby', all_places_path %>
</div>

<div id="currentplusfavs" style='width: 100%; height: 800px;'></div>

<script type="text/javascript">
	var handler = Gmaps.build('Google');
	var providerAtts;
	if(navigator.geolocation){
		navigator.geolocation.getCurrentPosition(function(position){
			var coords = position.coords;
			providerAtts = {
				center:	new google.maps.LatLng(coords.latitude, coords.longitude),
				zoom: 10
			}
			handler.buildMap({
				internal: {id: 'currentplusfavs'},
				provider: providerAtts
			});
		}, function(error){
			// it's possible the user denied access to geolocation even if it is enabled
			providerAtts = {
				center:	new google.maps.LatLng(41.850033, -87.6500523),
				zoom: 5
			}
			handler.buildMap({
				internal: {id: 'currentplusfavs'},
				provider: providerAtts
			});
		});
	}
	else {
		providerAtts = {
			center:	new google.maps.LatLng(41.850033, -87.6500523),
			zoom: 5
		}
		handler.buildMap({
			internal: {id: 'currentplusfavs'},
			provider: providerAtts
		});
	}

	function displayOnMap(){
		var currentLocationMarker = handler.addMarker({  // add current location pin
			lat: position.coords.latitude,
			lng: position.coords.longitude,
			picture: {
				url: "https://sparecube.com/public/img/user-loc-btn.png",
				width:  36,
				height: 36
			}
		});
		// add pins for my save places
		markers = handler.addMarkers(<%=raw @my_places_hash.to_json %>);
		// display map
		handler.map.centerOn(currentLocationMarker);
//		handler.getMap().setZoom(10);
//		google.maps.event.trigger(map, "resize");
	};
</script>
